/* FONT FACE */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

/*GLOBAL */

body {
	font-family: "Merriweather", serif;
}

img {
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

main {
	text-align: center;
}

/* HEADER */
header {
	text-align: center;
	background-image: url("../img/background.jpg");
	background-size: cover;
	width: 80%;
	margin: 0 auto;
	padding: 5px;
}

/* MAIN */
.container {
	width: 80%;
	background-color: rgb(204, 204, 204);
	padding: 35px;
	margin: 0 auto;
}

.instruction {
	background-color: rgb(228, 227, 227);
	width: 80%;
	margin: 0 auto;
	padding: 3px;
}

.flex {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

#personnage1 {
	display: flex;
	flex-direction: column;
}

#personnage2 {
	display: flex;
	flex-direction: column;
}

#resultat {
	margin-top: 30px;
	text-align: center;
}

button {
	width:150px;
	margin : 5px auto;
}


#infoPerso1 {
	font-size:15px;
}

#infoPerso2 {
	font-size:15px;
}



/* FOOTER */

.flexFoot nav a {
	/* display: flex;
	align-content: space-around; */
	display: inline-block;
	margin: 20px;
	background-color: gray;
	padding: 10px 5px 10px 5px;
	color: white;
}

footer {
	text-align: center;
	background-image: url("../img/background.jpg");
	background-size: cover;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
}


/***** Medias Querries *****/

@media screen and (max-width:900px) {
#infoPerso1 {
	font-size:13px;
	border-right: 1px solid #eee;
	padding : 0 10px;
}

#infoPerso2 {
	font-size:13px;
	padding : 0 5px;
}

}

@media screen and (max-width:700px) {
	#personnage1 {
	width: 400px;
	}

	#personnage2 {
	width: 400px;
	}

	img {
	width: 180px;
	height: 180px;
	}

	.instruction {
		font-size: 12px;
	}

}

@media screen and (max-width:500px) {
	#personnage1 {
	width: 300px;
	}

	#personnage2 {
	width: 300px;
	}

	img {
	width: 100px;
	height: 100px;
	}

	button {
	width:70px;
	font-size: 10px;
	}

	h3 {
		font-size:15px;
	}

	#infoPerso1 {
		font-size:10px;
		border-right: 1px solid #eee;
	}

	#infoPerso2 {
		font-size:10px;
	}

	.instruction {
		font-size: 9px;
		padding : 5px;
	}


}
